a {
	color: #23dbdb;
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	max-width: 90%;
	padding: 0 0px;
}

.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #ffffff;
	padding-bottom: 20px;
}
.logo {
	display: inline-block;
  color: #5c5c5c;
	font-size: 20px;
	padding-top:0px;
}
#navigation {
	position: absolute;
	right: 40px;
	bottom: 0px;
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;
}

#main-menu > li {
	display: inline-block;
	margin-left: 30px;
	padding: 2px 0;
}

#main-menu > li.parent {
	background-image: url("https://w7.pngwing.com/pngs/240/696/png-transparent-v-shaped-gray-illustration-menu-arrow-icon-down-arrow-angle-web-design-rectangle-thumbnail.png");
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #5c5c5c;
	font-size: 14px;
	line-height: 14px;
	padding: 30px 0;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #b096b0;

}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}




@keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
 
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
 
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }           
 
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
 
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
 
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}
 
* { box-sizing: border-box; }
 
html { scroll-behavior: smooth; }
 
body {
    font-family: sans-serif;
}
 
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
 
.slider {
    position: relative;
}
 
.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}
 
.slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
.slides:hover .slide {
    animation-play-state: paused;
}
 
.slide img {
    width: 100%;
    vertical-align: top;
    height: 350px;
}
 
.slide a {
    width: 100%;
    display: inline-block;
    position: relative;
}
 
.caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;                                 
}
 
.slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}
 
.slider-controler {         
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
 
.slider-controler li {
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
}
 
.slider-controler a {
    display: inline-block;
    vertical-align: top;            
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
 
@media only screen and (min-width: 1200px) {
    .slide {
        width: 1200px;
    }
 
    .caption {
        font-size: 60px;
        bottom: 96px;
        right: 50px; 
    }
}



.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
  margin: 3em 2em;
  width: 350px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 2em;
  color: #FFF;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'Quicksand';
  font-size: 2.3em;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.boton{
font-size:12px;
font-family:Verdana,Helvetica;
font-weight:bold;
color:red;
background:#638cb5;
border:0px;
width:80px;
height:19px;

}



.container{
  text-align: center;
}
button{
  outline: 0px;
}
.btn{ 
  border: none; /*Quita los bordes asperos que tienen los botones por defecto*/
  background-color: #138275;
  margin: .5rem;
  position: right;
  transform: rotateZ(360deg);
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  align: right;
}
.btn-circle{
  border-radius: 50%; /*Redondear bordes*/
  width: 50px; /*Ancho del botón*/
  height: 50px; /*Alto del botón*/
  font-size: 26px;  
  box-shadow: 0 3px 5px rgba(0,0,0,.4);
}
.btn-circle:hover, .btn-circle:active{
  box-shadow: 0 4px 7px rgba(0,0,0,.4);
}
.btn-rectangle{
  border-radius: 2px; /*Leve redondeo*/
  padding: .5rem 1.5rem; /*Espaciado interno*/
}
.btn-circle, .btn-raised{
  color: #FFF;
}
.btn-raised{
  box-shadow: 0 1px 5px rgba(0,0,0,.4); /*Sombra leve*/
}
.btn-raised:hover, .btn-raised:active{
  box-shadow: 0 4px 6px rgba(0,0,0,.4);
}
.btn-flat{
  font-weight: 700; /*Negrilla*/
  color: #2196F3;
  background-color: transparent;
}
.block{
  position: right;
  width: 270px;
  height: 178px;
  margin: 20px auto;
}


.ripple-container {
  /*Con los siguientes valores de position, top, left, width y height aseguramos que el div tome todo el tamaño de su padre*/
  position: right;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;

}
.ripple-effect {
  position: right;
  /*En javascript colocaremos el top y left de este span en el punto donde hizo click el usuario. Por eso es necesario trasladarlo en -50% en ambos ejes, para que el centro del efecto coincida con el click*/
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255,255,255, 0.4);
}
.btn-flat .ripple-effect{
  background: rgba(33,150,243, 0.4);
}
.ripple-container.ripple-effect-animation .ripple-effect{
  /*Aplicamos la animación que mas adelante definiremos con @keyframes*/
  -webkit-animation: ripple .4s ease-in;
  animation: ripple .4s ease-in;
}

@-webkit-keyframes ripple {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    padding-bottom: 200%;
    width: 200%;
  }
}
@-webkit-keyframes ripple {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    padding-bottom: 200%;
    width: 200%;
  }
}


